<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <!-- https://github.com/SergioBenitez/Rocket/blob/v0.5-rc/examples/templating/templates/tera/index.html.tera -->
  <h1>
    Hello {{ title }} !
  </h1>
</body>
</html>
